@model IEnumerable<ES_CapDien.Models.DataAlarmMongo>
<div class="form-group panel-heading">
    <b> Thông tin cảnh báo </b>
</div>
<div class='panel panel-default'>
    <div class='panel-body'>
        <table class="table table-striped table-bordered table-hover table-full-width">
            <thead>
                <tr>
                    <th class="center" style="width:80px;">Ngày</th>
                    <th class="center" style="width:50px;">Giờ</th>
                    <th class="center">Nội dung</th>                   
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                <tr>
                    <td class="center">@item.TimeSend.ToString("dd/MM/yyyy")</td>
                    <td class="center">@item.TimeSend.ToString("HH:mm")</td>
                    <td class="center">
                        @Html.Raw(item.Content)
                    </td>                   
                </tr>}
            </tbody>
        </table>
    </div>
</div>
